PORT=3333
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=66177
DB_NAME=SySilveiraDB
JWT_SECRET=s3cr3t_p@ssw0rd

# Coloque o link do ngrok aqui ou a porta local (ex: http://localhost:5173)*
FRONTEND_URL=http://localhost:5173
